# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DevMan\real_estate_agency-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
